<div class="blog">
    <div class="container flex flex-column align-center-horizontal">
        <div class="blog-image-wrapper flex align-center-horizontal pt-4 pb-8">
            <img src="assets/images/blog_illustration.png" alt="blog image"/>
        </div>
        <div class="blog-header section-heading flex align-center-horizontal">
            <h2>Blog</h2>
        </div>
        <div class="blog-text text-24 flex align-center-horizontal pb-4">
            <p class="w-70">Come check out my weekly blog for more detailed information into what I do, how I got to where I am today and what I’m currently learning! You never know, you might learn a thing or two...</p>
        </div>
        <div class="blog-button btn-purple-primary flex align-center-horizontal pb-8">
            {{#link-to 'blogs' class="button"}}Check Out My Blogs{{/link-to}}
        </div>
    </div>
</div>