<div class="contact-section">
    <div class="container mx-auto">
        <div class="contact-heading second-headings flex justify-center p-16 sm:p-4 text-center">
            <h1>Can I help you code?</h1>
        </div>
        <div class="contact-text p-32 sm:p-16 flex justify-center flex-col">
            <p>I can code in HTMl, CSS, JavaScript, C#, Java and SQL, please contact me if you need help coding a project.</p>
            <br/>
            <p>Also contact me if you have suggestions for videos or want to be in a video with me, I’m always interested in doing some pair programming!</p>
        </div>
    </div>
</div>