<div class="contact-section pt-8">
    <div class="container">
        <div class="contact-heading section-heading flex align-center-horizontal">
            <h2>Can I help you code?</h2>
        </div>
        <div class="contact-text flex align-center-horizontal text-24 pb-4">
            <p>I can code in HTMl, CSS, JavaScript, C#, Java and SQL, please contact me if you need help coding a project.</p>
            <br/>
            <p>Also contact me if you have suggestions for videos or want to be in a video with me, I’m always interested in doing some pair programming!</p>
        </div>
        <div class="contact-button btn-purple-primary flex align-center-horizontal pb-8">
            <a href="mailto:callamw1997@gmail.com" target="_blank" class="button">Contact Me</a>
        </div>
    </div>
</div>