<footer>
    <div class="footer-links text-center">
        <a target="_blank" href="https://twitter.com/callam_woolgar"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://www.instagram.com/calwoolgar/"><i class="fa fa-instagram"></i></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCVe_D9xXXDwXyU2o0_cadxA?view_as=subscriber"><i class="fa fa-youtube"></i></a>
    </div>
    <div class="footer-text  text-center">
        <p>Designed By Cal</p>
    </div>
</footer>