<div class="hero container">
    <div class="sub-heading flex align-center-horizontal pt-4 pb-4">
        <h3>HTML, CSS, Javascript, C#, Java</h3>
    </div>
    <div class="content flex align-center-horizontal pt-4 pb-8">
        <div class="left flex align-center-vertical">
            <h4 class="content-heading">I’m a web developer and upcoming designer.
                <br/> 
                I love to work, learn and improve.</h4>
        </div>
        <div class="right">
            <div class="hero-image-wrapper">
                <img src="assets/images/hero_illustration.png" alt="code thinking"/>
            </div>
        </div>
    </div>
    <div class="down-arrow-wrapper">
        <img src="assets/images/down_arrow.png" alt="down arrow"/>
    </div>
</div>