/* Fonts
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family 'Othersight', sans-serif;
*/

/* Size in em if the property scales according to its font-size */
/* Size everything else in rem. */

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    margin: 0;
}

.background-gradient {
    background: rgb(17,61,174);
    background: linear-gradient(180deg, rgba(17,61,174,1) 0%, rgba(20,17,134,1) 100%);
}

.home-section {
    min-height: 100vh;
    color: white;
}

.heading {
    font-size: 10em;
    font-family: Othersight;
}

h3 {
    font-size: 1.5rem;
    color: rgba(226, 243, 245, 0.5);
}

.sub-heading {
    padding: 2em 0;
}

.social > a {
    font-size: 4rem;
    color: #C4D0F8;
    margin-right: 2rem;
}