/* Fonts
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family 'Othersight', sans-serif;
*/

/* Size in em if the property scales according to its font-size */
/* Size everything else in rem. */

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    margin: 0;
}

.background-gradient {
    background: rgb(17,61,174);
    background: linear-gradient(180deg, rgba(17,61,174,1) 0%, rgba(20,17,134,1) 100%);
}

.home-section {
    min-height: 100vh;
    color: white;
}

.heading {
    font-size: 10em;
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-size: 1.5rem;
    color: rgba(226, 243, 245, 0.5);
}

.sub-heading {
    padding: 2em 0;
}

.social > a {
    font-size: 4rem;
    color: #C4D0F8;
    margin-right: 2rem;
}

.about-section {
    min-height: 100vh;
    background-color: #E2F3F5;
}

.second-headings {
    color: rgb(17,61,174);
    color: linear-gradient(180deg, rgba(17,61,174,0.01) 0%, rgba(20,17,134,0.01) 100%);
    font-size: 7em;
    font-family: 'Oswald', sans-serif;
}

.about-text > p {
    max-width: 70%;
}

.youtube-section {
    min-height: 100vh;
    background: rgb(34,209,238);
    background: linear-gradient(180deg, rgba(34,209,238,1) 0%, rgba(34,209,238,0.01) 100%);
    padding-bottom: 4em;
}

.yt-subheading {
    text-align: center;
}

.yt-subheading > p {
    max-width: 50%;
}

.contact-text {
    text-align: center;
}

footer {
    padding: 1em;
    color: #E2F3F5;
    background-color: #0E153A;
}

.footer-links > a {
    font-size: 3em;
}