html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.h-100 {
    height: 100%;
}

.ember-view {
    height: 100%;
}

#navbar {
    overflow: hidden;
    display: grid;
    padding: 50px;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
}

#navbar #navbar-logo a {
    color: black;
    text-decoration: none;
}

#navbar #navbar-items a {
    color: black;
    text-decoration: none;
    padding: 0 20px;
}

@media (max-width:735px){
    #navbar {
        grid-template-columns: 100%;
        grid-row-gap: 20px;
        text-align: center;
    }
}


@media (max-width:482px){
    #navbar-items {
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
        text-align: center;
    }
}

.container {
    max-width: 860px;
    padding-bottom: 40px;
    height: CALC(100% - 136px);
}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.bg-grey-lighter {
    background-color: #f3f7f9;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-40 {
    margin-top: 40px;
}

.text-purple {
    color: #891CCE;
}

.text-shadow {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.text-block {
    font-size: 1.3rem;
    line-height: 1.7
}

.text-centre {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.grid-central {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    margin: 0 100px 50px 100px;
}

.grid-card {
    min-width: 250px;
    max-width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

.purple-border {
    border: 2px solid #891CCE;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.project-text {
    line-height: 1.5;
}

.purple-button {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #6601a5;
    color: #fff;
    padding: 7px;
    text-align: center;
    margin-bottom: 15px;
    text-decoration: none;
}

#projects {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 950px){
    .container {
        max-width: 700px;
    }

    .grid-card {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 750px){
    .container {
        max-width: 500px;
    }

    .grid {
        grid-template-columns: 100%;
    }

    .grid-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 550px){
    .container {
        max-width: 300px;
    }
}