/* Size in em if the property scales according to its font-size */
/* Size everything else in rem. */

@import 'fonts.scss';
@import 'colors.scss';
@import 'sizes.scss';
@import 'breakpoints.scss';
@import 'utilities.scss';

body {
    font-family: $text-font;
    font-size: 10px;
    margin: 0;
    background-color: $background;
}

.btn-purple-primary {
    a {
        background-color: $button-blue;
        font-size: 2rem;
        padding: .7em 1em;
        text-decoration: none;
        -webkit-box-shadow: 5px 10px 5px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 5px 10px 5px 0px rgba(255,255,255,0.5);
        box-shadow: 5px 10px 5px 0px rgba(255,255,255,0.5);
    }

    a:hover {
        background-color: #1C1677;
    }
}


.button {
    border-radius: 15px;
    color: #E2F3F5;
}

.button:hover {
    box-shadow: 0 0 6px #0E153A;
}

header {
    max-height: 10em;

    .heading {
        font-size: 3.6em;
        font-family: $heading-font;
        color: $purple;
    }

    .social {
        > a {
            font-size: 4.2em;
            color: $purple;
            margin-right: 1rem;
        }
    }
}

.hero {
    min-height: calc(100vh - 100px);

    h3 {
        font-size: 5em;
        color: $almost-black;
    }

    .content-heading {
        font-size: 2em;
        color: $light-grey-heading;
        max-width: 300px;
    }

    .down-arrow-wrapper {
        position: relative;
        top: 10em;
        display: flex;
        justify-content: center;
    }
}

.about-me {
    .about-text {
        color: $light-grey-text;
    }

    .lang-logo-wrapper {
        display: flex;
        align-items: center;
    }
}

.blog {
    background-image: url("/assets/images/blog-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    .blog-header {
        color: $almost-white-text;
    }

    .blog-text {
        color: $almost-white-text;
    }
}

.youtube-section {
    text-align: center;

    .yt-subheading {
        font-size: 1.7em;
        color: $light-grey-text;
    }
}

.contact-section {
    .contact-text {
        flex-wrap: wrap;
        color: $light-grey-text;
        text-align: center;

        > p {
            max-width: 70%;
        }
    }
}

footer {
    padding: 1em;
    color: $almost-white-text;
    background-color: $darker-purple;
    
    .footer-links {
        > a {
            font-size: 4em;
            color: $almost-white-text;
            margin: 0 .5em;
        }
    }

    .footer-text {
        font-size: 2em;
    }
}

@media only screen and (max-width: $bp-large){
    header {
        .heading {
            font-size: 2.5em;
        }

        .social > a {
            font-size: 2.5em;
            margin-right: .5rem;
        }
    }

    .hero-image-wrapper {
        img {
            max-width: 50em;
        }
    }

    .hero {
        min-height: auto;

        .content-heading {
            font-size: 1.5em;
        }

        h3 {
            font-size: 4em;
        }

        .down-arrow-wrapper {
            top: 2em;
        }
    }

    .lang-logo-wrapper {
        width: 10em;
        margin: 0 1em;

        a {
            img {
                width: 100%;
            }
        }
    }

    .blog-image-wrapper {
        img {
            max-width: 50em;
        }
    }

    .btn-purple-primary {
        a {
            font-size: 1.3rem;
        }
    }
}

@media only screen and (max-width: $bp-medium){
    .hero-image-wrapper {
        img {
            max-width: 35em;
        }
    }

    .hero {
        .content-heading {
            font-size: 1em;
        }

        h3 {
            font-size: 2em;
        }

        .down-arrow-wrapper {
            top: 2em;

            img {
                max-width: 56px;
            }
        }
    }

    .lang-logo-wrapper {
        width: 10em;
        margin: 0 1em;

        a {
            img {
                width: 100%;
            }
        }
    }

    .blog-image-wrapper {
        padding: 0;

        img {
            max-width: 35em;
        }
    }

    .btn-purple-primary {
        a {
            font-size: 1rem;
        }
    }

    .youtube-section {
    
        .yt-subheading {
            font-size: 1.2em;
        }

        #my-YT  {
            height: 480px;
            width: 640px;
        }
    }

    footer  {
        .footer-links {

            a {
                font-size: 3em;
            }
        
        }

        .footer-text{
            p {
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: $bp-small){
    .hero-image-wrapper {
        img {
            max-width: 20em;
        }
    }

    .hero {
        .content-heading {
            font-size: 1em;
        }

        h3 {
            font-size: 2em;
            text-align: center;
        }

        .down-arrow-wrapper {
            top: 1.5em;

            img {
                max-width: 42px;
            }
        }
    }

    .blog-image-wrapper {
        padding: 0;

        img {
            max-width: 20em;
        }
    }

    .youtube-section {
    
        .yt-subheading {
            font-size: 1.2em;
        }
    }

}