/* Size in em if the property scales according to its font-size */
/* Size everything else in rem. */

/* Fonts */
$heading-font: 'Oswald', sans-serif;
$text-font: 'Roboto Mono', monospace;

/* Sizes */
$heading-size: 5.5em;

/* Colours */
$purple: #6C63FF;
$darker-purple: #4C45B2;
$background: #ECF4F4;
$almost-black: #333131;
$light-grey-heading: rgba(33,31,31,.8);
$light-grey-text: rgba(33,31,31,.7);
$almost-white-text: #E2F3F5;
$button-blue: #2C24B2;

body {
    font-family: $text-font;
    font-size: 10px;
    margin: 0;
    background-color: $background;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center-vertical {
    align-items: center;
}

.align-center-horizontal {
    justify-content: center;
}

.pt-3 {
    padding-top: 3em;
}

.pb-3 {
    padding-bottom: 3em;
}

.pt-4 {
    padding-top: 4em;
}

.pt-8 {
    padding-top: 8em;
}

.pb-4 {
    padding-bottom: 4em;
}

.pb-8 {
    padding-bottom: 8em;
}

.section-heading {
    color: $purple;
    font-size: $heading-size;
}

.text-24 {
    font-size: 2.4em;
}

.w-70 {
    max-width: 70%;
}

.btn-purple-primary {
    a {
        background-color: $button-blue;
        font-size: 2rem;
        padding: .7em 1em;
        text-decoration: none;
        -webkit-box-shadow: 5px 10px 5px 0px rgba(255,255,255,0.5);
        -moz-box-shadow: 5px 10px 5px 0px rgba(255,255,255,0.5);
        box-shadow: 5px 10px 5px 0px rgba(255,255,255,0.5);
    }

    a:hover {
        background-color: #1C1677;
    }
}

header {
    max-height: 10em;

    .heading {
        font-size: 3.6em;
        font-family: $heading-font;
        color: $purple;
    }

    .social {
        > a {
            font-size: 4.2em;
            color: $purple;
            margin-right: 1rem;
        }
    }
}

.hero {
    min-height: calc(100vh - 100px);

    h3 {
        font-size: 5em;
        color: $almost-black;
    }

    .content-heading {
        font-size: 2em;
        color: $light-grey-heading;
        max-width: 300px;
    }

    .down-arrow-wrapper {
        position: relative;
        top: 10em;
        display: flex;
        justify-content: center;
    }
}

.about-me {
    .about-text {
        color: $light-grey-text;
    }
}

.blog {
    background-image: url("/assets/images/blog-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    .blog-header {
        color: $almost-white-text;
    }

    .blog-text {
        color: $almost-white-text;
    }
}

.youtube-section {
    .yt-subheading {
        font-size: 1.7em;
        color: $light-grey-text;
        text-align: center;
        
        p {
            max-width: 70%;
        }
    }
}

.contact-section {
    .contact-text {
        flex-wrap: wrap;
        color: $light-grey-text;

        > p {
            max-width: 70%;
        }
    }
}

.home-section {
    min-height: 100vh;
    max-width: 1920px;
    color: white;
}

.about-section {
    min-height: 100vh;
    background-color: #E2F3F5;
}

.second-headings {
    color: rgb(17,61,174);
    color: linear-gradient(180deg, rgba(17,61,174,0.01) 0%, rgba(20,17,134,0.01) 100%);
    font-size: 7em;
    font-family: 'Oswald', sans-serif;
}

.contact-text {
    text-align: center;
}

footer {
    padding: 1em;
    color: $almost-white-text;
    background-color: $darker-purple;
    
    .footer-links {
        > a {
            font-size: 4em;
            color: $almost-white-text;
            margin: 0 .5em;
        }
    }

    .footer-text {
        font-size: 2em;
    }
}

.button {
    border-radius: 15px;
    color: #E2F3F5;
}

.button:hover {
    box-shadow: 0 0 6px #0E153A;
}

@media only screen and (max-width: 640px){
    body {
        font-size: 8px;
    }

    .about-text {
        > p {
            max-width: 90%;
            font-size: 1.7em;
            padding: 5em 0;
        }
    }

    .about-section {
        min-height: auto;
    }

    .youtube-section {
        min-height: auto;
    }

    .contact-text {
        > p {
            font-size: 1.7em;
        }
    }

    .footer-text {
        font-size: 1.7em;
    }

    .yt-subheading {
        > p {
            font-size: 1.7em;
        }
    }

    .button {
        font-size: 1.7em;
    }
}