body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.h-100 {
    height: 100%;
}

.ember-view {
    height: 100%;
}

#navbar {
    overflow: hidden;
    display: grid;
    padding: 50px;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
}

#navbar #navbar-logo a {
    color: black;
    text-decoration: none;
}

#navbar #navbar-items a {
    color: black;
    text-decoration: none;
    padding: 0 20px;
}

.container {
    max-width: 860px;
}

@media (max-width: 950px){
    .container {
        max-width: 700px;
    }
}

@media (max-width: 750px){
    .container {
        max-width: 500px;
    }
}

@media (max-width: 550px){
    .container {
        max-width: 300px;
    }
}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.bg-grey-lighter {
    background-color: #f3f7f9;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-40 {
    margin-top: 40px;
}

.text-purple {
    color: #891CCE;
}

.text-shadow {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.text-block {
    font-size: 1.3rem;
    line-height: 1.7
}

.text-centre {
    text-align: center;
}