/* Fonts
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    margin: 0;
}

.container {
    height: 100vh;
}

.left {
    background: rgb(0,51,204);
    background: linear-gradient(90deg, rgba(0,51,204,1) 0%, rgba(1,87,190,1) 100%);
    padding: 1.5em;
    color: white;
}

.header > h3 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    margin: 0;
}

.content {
    margin: 5em 0;
}

.title {
    margin: 2em 0;
}

.title > h1 {
    font-size: 28px;
    letter-spacing: 0.2em;
    margin: 0;
}

.sub-content {
    margin: 2em 0;
}

.coming-soon {
    font-weight: 200;
    font-size: .8em;
}

.right {
    padding: 1.5em;
}

.contact-me {
    padding: 0.8em;
    -moz-box-shadow: 0 0 5px #b9b9b9;
    -webkit-box-shadow: 0 0 5px #b9b9b9;
    box-shadow: 0 0 5px #b9b9b9;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social > a {
    margin: 1.5em 2em;
    width: 40px;
}

.social > a > i {
    font-size: 2em;
    color: black;
}

@media only screen and (min-width: 1024px){
    .container {
        display: grid;
        grid-template-columns: 50% auto;
    }

    .title {
        margin: 4em 0;
    }

    .title > h1 {
        font-size: 34px;
        letter-spacing: 0.3em;
    }

    .content {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .sub-content {
        margin: 3em 0;
    }

    .left {
        padding-left: 3em;
        padding-right: 3em;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3em;
        padding-right: 3em;
    }

    .contact-me {
        padding: 2em;
    }
} 