/* Colours */
$purple: #6C63FF;
$darker-purple: #4C45B2;
$background: #ECF4F4;
$almost-black: #333131;
$light-grey-heading: rgba(33,31,31,.8);
$light-grey-text: rgba(33,31,31,.7);
$almost-white-text: #E2F3F5;
$button-blue: #2C24B2;