<div class="bg-grey-lighter h-100">
    <div id="navbar" class="shadow bg-grey-lighter">
    <div id="navbar-logo">
        <a href="#">Callam Woolgar</a>
    </div>
    <div id="navbar-items">
        <a href="#">Home</a>
        <a href="#">About </a>
        <a href="#">Contact</a>
        <a href="#">Twttr</a>
    </div>
    <div></div>
</div>
<div class="container mx-auto mt-40">
    <h1 class="text-shadow"><span class="text-purple">Full Stack</span> Developer</h1>
    <p></p>
</div>
</div>