<div id="navbar">
    <div id="navbar-logo">
        <a href="#">Callam Woolgar</a>
    </div>
    <div id="navbar-items">
        <a href="#">Home</a>
        <a href="#">About </a>
        <a href="#">Contact</a>
        <a href="#">Twttr</a>
    </div>
    <div></div>
</div>
{{outlet}}