<div id="navbar" class="shadow bg-grey-lighter">
    <div id="navbar-logo">
        <a href="#" class="text-centre">CALLAM <br>WOOLGAR</a>
    </div>
    <div id="navbar-items">
        {{#link-to "home"}}HOME{{/link-to}}
        {{#link-to "work"}}WORK{{/link-to}}
        {{#link-to "contact"}}CONTACT{{/link-to}}
        {{#link-to "blog"}}BLOG{{/link-to}}
        <a href="https://twitter.com/callam_woolgar" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
</div>
{{outlet}}