<div class="hero blogs container">
    <div class="sub-heading flex align-center-horizontal pt-4 pb-4">
        <h3>Welcome to my blogs</h3>
    </div>
    <div class="content flex align-center-horizontal pt-4 pb-8">
        <div class="left flex align-center-vertical">
            <h4 class="content-heading">My blog will be devoted to all things tech, programming, hardware, video games, etc.</h4>
        </div>
        <div class="right">
            <div class="hero-image-wrapper">
                <img src="assets/images/blog_hero_illustration.png" alt="code thinking"/>
            </div>
        </div>
    </div>
</div>

<BlogPosts/>