<div class="full-screen-background">
    <div class="container mx-auto pt-40">
        <div id="contact" class="text-centre">
            <h2>CONTACT</h2>
            <div class="contact-info">
                <p>Either contact me via email or Twitter and I'll get back to you ASAP.</p>
                <p>Email:</p>
                <p><a href="mailto:callamw1997@gmail.com">callamw1997@gmail.com</a></p>
                <p>Twitter</p>
                <a href="https://twitter.com/callam_woolgar" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>