<div class="container mx-auto mt-40">
    <h1 class="text-shadow"><span class="text-purple">Full Stack</span> Developer</h1>
    <p class="text-block">Hello! My name is Callam Woolgar and I'm a Full-Stack Developer from Oxfordshire, England.
        I work for a company called Adactus and for them I create frontend and backend code for our clients.
        I choose being a software developer as my career because I love technology and the convenience that it brings to the world. 
    </p>
    <br>
    <p class="text-block">
        If you are interested in working with me, need a hand with coding, or just want to chat, feel free to drop me an email.
    </p>
    
</div>