<div class="container mx-auto mt-40">
    <div id="projects">
        <h2 class="text-centre">MY WORK</h2>
        <div class="grid-central">
            <img src="assets/images/Callam_120717.JPG">
            <p>The photo above is me from 2 years ago collecting my certificates for completing my level 3 apprenticeship in software development.</p>
            <p>I'm now doing a Batchelor's degree alongside working for Adactus Ltd as a junior software developer.</p>
        </div>
        <div class="grid">
            <div class="grid-card purple-border">
                <h3>Cal Woolgar</h3>
                <p class="project-text">I made this website so that I could prove to myself that I could build a website from scratch and then deploy it so that the world could see. If you're reading this now I have accomplished that goal!</p>
                <a href="#" class="purple-button">VISIT SITE <i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="grid-card purple-border">
                <h3>Adactus</h3>
                <p class="project-text">While working for Adactus I worked on many different projects and lots of different that came with those projects. I mainly worked with C# but in recent times I have been focused on JavaScript and Java as my main languages.</p>
                <a href="https://www.Adactus.co.uk" target="_blank" class="purple-button">VISIT SITE <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>    
    </div>
</div>